<h2>Novo Livro</h2>

<form [formGroup]="form" (ngSubmit)="salvar()">

  <input placeholder="Título" formControlName="titulo" />
  <br />

  <input placeholder="Autor" formControlName="autor" />
  <br />

  <input placeholder="ISBN" formControlName="isbn" />
  <br />

  <input placeholder="Ano" type="number" formControlName="ano" />
  <br />

  <select formControlName="categoriaId">
    <option value="">Selecione categoria</option>
    <option *ngFor="let c of categorias" [value]="c.id">
      {{ c.nome }}
    </option>
  </select>

  <br /><br />

  <button type="submit">Salvar</button>

</form>
